@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* Estilo para el enlace con animación de terminal */
.terminal-link {
  position: relative;
  padding-right: 10px; /* Espacio para que el cursor no se superponga */
  text-decoration: none;
}

.terminal-link::after {
  content: '|';
  position: absolute;
  opacity: 0; /* Oculto por defecto */
}

.terminal-link:hover::after {
  opacity: 1; /* Visible en hover */
  animation: blink 1s step-end infinite;
}